.stats {
  display: flex;
}

.stats > p {
  border: 1px solid slategray;

  padding: 2rem;

  font-size: 1.25rem;
}

.stats > p.name {
  color: white;
  background-color: slategray;

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.stats > p.stat {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
